click==6.2
click-plugins==1.0.3
cligj==0.4.0
colorama==0.3.6
decorator==4.0.9
Fiona==1.6.3
GDAL==1.11.4
ipython==4.1.2
ipython-genutils==0.1.0
path.py==8.1.2
pickleshare==0.6
py==1.4.31
pyproj==1.9.5.1
pytest==2.8.7
Shapely==1.5.13
simplegeneric==0.8.1
six==1.10.0
traitlets==4.1.0
virtualenv==14.0.5
wheel==0.26.0
